body   {
    height: 3000px;

}

.satu, .dua, .tiga {
    width: 200px;
    height: 200px;
    position: absolute;
    box-sizing: border-box;
}

.satu   {
    background-color: salmon;
}
.dua     {
    background-color: lightgreen;
    top: 100px;
    left: 100px;
    z-index: 1;
    opacity: 0.3;
}
.tiga   {
    background-color: royalblue;
    top: 200px;
    left: 200px;
}


.kotak {
    opacity: 0.5;
    background-color: rgb(39, 48, 48);
    position: fixed;
    width: 300px;
    height: 200px;
    top: 100px;
    bottom: 300px;
    left: 800px;
    right: 10
}

.close {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border: 2px;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    position: absolute; 
    text-align: center; 
}