body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aqua;
}

.padding {
    width: 300px;
    height: 300px;
    background-color: coral;
    margin: auto;
    padding: 20px;
}

.border {
    width: 300px;
    height: 500px;
    background-color: lightblue;
    margin: 20px auto;
    padding: 20px;
    border: 3px double navy;
}

/* biasanya kalo kita nanti membuat sebuah elemen, itu yang kita atur adalah dimensinya hanya lebarnya saja untuk tingginya jarang sekali kita atur tingginya itu biasanya mengikuti dengan konten yang akan kita kasih. semakin banyak kotak nya maka konten nya akan semakin tinggi */
.box-sizing {
    width: 300px;
    background-color: lightgreen;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid green;
    box-sizing: border-box;
}   

.box-sizing2 {
    width: 300px;
    background-color: lightyellow;
    margin: 20px auto;
    padding: 30px;
    border: 5px solid orange;
    box-sizing: content-box;
}

.box-sizing, .box-sizing2 {
    box-sizing: border-box;
}